# Session-specific and temporary files
.Rhistory
.RData
.Ruserdata

# RStudio project-specific files
.Rproj.user/

# Packages and dependencies
.Renviron
.Rprofile

# Cache and temporary files
*.csv (for large or raw data files that are not essential to the project)
*.rds (same as above, depending on size and sensitivity)

*.zip